MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER/DB_NAME?retryWrites=true&w=majority
SEED_SAMPLE_PRODUCTS=true
SCRAPINGBEE_API_KEY=6VB8KYM186VY8KSMSTRK6GEL4Z29T1E9SKHIQASC5HTQBWLBC7HPOUN3C3Z1AYMLHPLC88AMO7KSNR57
FORMSPREE_ENDPOINT=https://formspree.io/f/xwvdkdvk
